# SQL Notes

###### TERMINOLOGY
rows = records

cols = attributes

NULL = unknown value
###### STATEMENTS
In SQL, statements like `SELECT` are not case sensitive. This means that SQL will understand if you write `select`, for example. However, SQL won't understand if you don't end your statements with `;`, so don't forget!

###### SELECTING: SELECT, FROM, SELECT DISTINCT
The `SELECT` statement is used to retrieve data from a database. For example, `SELECT title FROM films;` will give you a table (called the _result table_, containing all the values in the `name` column from the `films` table. Here, the `FROM` keyword allows you to specify which _table_ you want to get data from. Using the `DISTINCT` keyword allows us to filter out duplicate information from a column. For example, `SELECT DISTINCT name FROM people;` will give us a table containing all the _unique_ names in the `people` table. You can get data from multiple columns if you need to, by separating the column names with a comma. Writing `SELECT *`, SQL will fetch data from _all_ columns of a table. However, you may not want *all* of the data. Thankfully, the `LIMIT` keyword allows you to specify how many records of the result set you want to see. For example, `SELECT * FROM films LIMIT 10;` will give you only the first ten results.

###### COUNT
The `COUNT` statements gives you the number of records in a column (a.k.a the number of records an attribute has). For example, `SELECT COUNT(DISTINCT name) FROM people` gives you the number of unique names in the `people` table. If you write `SELECT COUNT(*) FROM people` you will get the number of records in the entire `people` table.

###### AGGREGATE FUNCTIONS: AVG, SUM, MIN, MAX
Often you will want to perform some calculation on the data in a database. SQL provides a few functions to help you out with this. For example, `SELECT AVG(budget) FROM films;` would give you a result set where the only row contains the average value from the `budget` column of the `films` table. In the same fashion, the `MAX()` function would return the highest budget. The `SUM()` function returns the result of adding up the numeric values in a column. Can you guess what the `MIN()` function does?

###### ROUNDING FUNCTIONS: ROUND, FLOOR, CEILING
Similar to aggregate functions, SQL provides some functions to round numerical data. The `ROUND()` function will round a numeric value to the nearest integer. The `FLOOR()` function will return the _largest_ integer not _greater than_ the argument. For example, `FLOOR(-42.8)` will give you `-43`. Similarly, the `CEILING()` function will return the _smallest_ integer not _less than_ the argument.

###### ALIASING: AS
In SQL, the `AS` keyword allows us to specify an '_alias_' (temporary name) for a column in the result set. For example, `SELECT COUNT(title) AS title_count FROM films;` will give you a result set with a single column named `title_count`. Aliases are helpful for making results more readable.

###### BASIC FILTERING: WHERE
In SQL, the `WHERE` keyword allows you to filter records based on conditions. For example, `SELECT title FROM films WHERE release_year > 2000;` will give you the names of all the films released since the year 2000. You can filter using `WHERE` with both numeric and text values. You can build up your query using the `AND` and `OR` keywords. For example, `SELECT title FROM films WHERE release_year > 1994 AND release_year < 2000;`, which will give you all the films released between 1994 and 2000. Similarly, `SELECT title FROM films WHERE release_year = 1994 OR release_year = 2000;` will give you the names of all the films released in _either_ 1994 or 2000.

###### ADVANCED FILTERING: BETWEEN, IN, IS NULL, IS NOT NULL
In SQL, the `BETWEEN` keyword allows you filter values within a specified range. For example, `SELECT title FROM films WHERE release_year BETWEEN 1994 AND 2000;` will give you the names of all the films released between 1994 and 2000. Remember: the `BETWEEN` operator is _inclusive_; the beginning and end values are included in the results. In SQL, the `IS NULL` operator allows us to filter out records which have unknown values. Often, you will want to filter out so we only get results which are not `NULL`. To do this, you can use the `IS NOT NULL` operator. For example, `SELECT name FROM people WHERE birthdate IS NOT NULL;` will give you the names of all the people whose birthdate we know.

###### SORTING: ORDER BY
In SQL, the `ORDER BY` keyword is used to sort the result set in ascending or descending order. By default `ORDER BY` will sort in ascending order. If you want to sort the results in descending order, you can use the `DESC` keyword. For example, `SELECT title FROM films ORDER BY release_year;` will give you the titles of films sorted by release year, from newest to oldest. You can use `ORDER BY` to sort by multiple columns too if you need to.

###### SORTING: GROUP BY
In SQL, `GROUP BY` allows you to group a result set by one or more columns. `GROUP BY` is used with aggregate functions like `COUNT()` or `MAX`. For example, `SELECT title, COUNT(title) FROM films GROUP BY release_year;` will give you the number of films released in each year.

###### SUPER MEGA ADVANCED FILTERING: HAVING
In SQL, `WHERE` cannot be used with aggregate functions. To deal with this, you can use the `HAVING` keyword. For example, `SELECT release_year FROM films GROUP BY release_year HAVING COUNT(title) > 10;` will show only those years in which more than 10 films were released.

In [41]:
install.packages("RSQLite")

Warning message:
"package 'RSQLite' is in use and will not be installed"

In [1]:
library(RSQLite)

Warning message:
"package 'RSQLite' was built under R version 3.6.2"

In [38]:
data("mtcars")

In [39]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [51]:
conn <- dbConnect(RSQLite::SQLite(), "CarsDB.db")

In [43]:
dbWriteTable(conn, "cars_data", mtcars)

In [44]:
dbListTables(conn)

[1] "cars_data"

In [48]:
dbGetQuery(conn, "SELECT * FROM cars_data WHERE mpg > 21.0")

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
2  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
3  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
4  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
5  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
6  30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
7  33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
8  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
9  27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
10 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
11 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
12 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [49]:
mpg_data <- dbGetQuery(conn, "SELECT * FROM cars_data WHERE mpg > 21.0")

In [50]:
mpg_data

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
2  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
3  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
4  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
5  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
6  30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
7  33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
8  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
9  27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
10 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
11 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
12 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [61]:
mpg_threshold = 21.0
hp_threshold = 100
mpg_hp_data <- dbGetQuery(conn, "SELECT * FROM cars_data WHERE mpg > ? AND hp > ?", params = c(mpg_threshold, hp_threshold))

In [62]:
mpg_hp_data

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
2 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
3 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [64]:
dbExecute(conn, "INSERT INTO cars_data VALUES (21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,100)")

[1] 1

In [65]:
data <- dbGetQuery(conn, "SELECT * FROM cars_data")
tail(data)

   mpg  cyl disp hp  drat wt    qsec  vs am gear carb
29 15.8 8   351  264 4.22 3.170 14.50 0  1  5      4
30 19.7 6   145  175 3.62 2.770 15.50 0  1  5      6
31 15.0 8   301  335 3.54 3.570 14.60 0  1  5      8
32 21.4 4   121  109 4.11 2.780 18.60 1  1  4      2
33 21.4 6   258  110 3.08 3.215 19.44 1  0  3      1
34 21.4 6   258  110 3.08 3.215 19.44 1  0  3    100

In [66]:
dbDisconnect(conn)

In [7]:
install.packages("RSQLite")

package 'RSQLite' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\satha\AppData\Local\Temp\RtmpOk92RU\downloaded_packages

In [8]:
conn <- dbConnect(RSQLite::SQLite(), "films.db")

ERROR: Error in dbConnect(RSQLite::SQLite(), "films.db"): could not find function "dbConnect"

In [1]:
my_query = "CREATE TABLE films (
    `id` INT,
    `title` VARCHAR(86) CHARACTER SET utf8,
    `release_year` INT,
    `country` VARCHAR(20) CHARACTER SET utf8,
    `duration` INT,
    `language` VARCHAR(10) CHARACTER SET utf8,
    `certification` VARCHAR(9) CHARACTER SET utf8,
    `gross` INT,
    `budget` INT
);"
dbExecute(conn, my_query)

ERROR: Error in dbExecute(conn, my_query): could not find function "dbExecute"