In [41]:
install.packages("RSQLite")

Warning message:
"package 'RSQLite' is in use and will not be installed"

In [37]:
library(RSQLite)

Warning message:
"package 'RSQLite' was built under R version 3.6.2"

In [38]:
data("mtcars")

In [39]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [51]:
conn <- dbConnect(RSQLite::SQLite(), "CarsDB.db")

In [43]:
dbWriteTable(conn, "cars_data", mtcars)

In [44]:
dbListTables(conn)

[1] "cars_data"

In [48]:
dbGetQuery(conn, "SELECT * FROM cars_data WHERE mpg > 21.0")

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
2  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
3  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
4  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
5  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
6  30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
7  33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
8  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
9  27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
10 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
11 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
12 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [49]:
mpg_data <- dbGetQuery(conn, "SELECT * FROM cars_data WHERE mpg > 21.0")

In [50]:
mpg_data

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
2  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
3  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
4  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
5  32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
6  30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
7  33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
8  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
9  27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
10 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
11 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
12 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [61]:
mpg_threshold = 21.0
hp_threshold = 100
mpg_hp_data <- dbGetQuery(conn, "SELECT * FROM cars_data WHERE mpg > ? AND hp > ?", params = c(mpg_threshold, hp_threshold))

In [62]:
mpg_hp_data

  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1 21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
2 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
3 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [64]:
dbExecute(conn, "INSERT INTO cars_data VALUES (21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,100)")

[1] 1

In [65]:
data <- dbGetQuery(conn, "SELECT * FROM cars_data")
tail(data)

   mpg  cyl disp hp  drat wt    qsec  vs am gear carb
29 15.8 8   351  264 4.22 3.170 14.50 0  1  5      4
30 19.7 6   145  175 3.62 2.770 15.50 0  1  5      6
31 15.0 8   301  335 3.54 3.570 14.60 0  1  5      8
32 21.4 4   121  109 4.11 2.780 18.60 1  1  4      2
33 21.4 6   258  110 3.08 3.215 19.44 1  0  3      1
34 21.4 6   258  110 3.08 3.215 19.44 1  0  3    100

In [66]:
dbDisconnect(conn)