In [1]:
#install.packages("qdap")
library("qdap")
#install.packages("tidytext")
library(tidytext)
#install.packages("tidyr")
library("tidyr")
#install.packages("dplyr")
library(dplyr)

Warning message:
"package 'qdap' was built under R version 3.6.2"Loading required package: qdapDictionaries
Loading required package: qdapRegex
Warning message:
"package 'qdapRegex' was built under R version 3.6.2"Loading required package: qdapTools
Warning message:
"package 'qdapTools' was built under R version 3.6.2"Loading required package: RColorBrewer
Registered S3 methods overwritten by 'qdap':
  method               from
  t.DocumentTermMatrix tm
  t.TermDocumentMatrix tm

Attaching package: 'qdap'

The following object is masked from 'package:base':

    Filter

Warning message:
"package 'tidytext' was built under R version 3.6.2"
Attaching package: 'tidyr'

The following object is masked from 'package:qdap':

    %>%


Attaching package: 'dplyr'

The following object is masked from 'package:qdap':

    %>%

The following object is masked from 'package:qdapTools':

    id

The following object is masked from 'package:qdapRegex':

    explain

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [2]:
bos_reviews<-readRDS("bos_reviews.rds")
head(bos_reviews)

Warning message in gzfile(file, "rb"):
"cannot open compressed file 'bos_reviews.rds', probable reason 'No such file or directory'"

ERROR: Error in gzfile(file, "rb"): cannot open the connection

In [ ]:
dim(bos_reviews)

In [ ]:
# Apply polarity to first 5 reviews
practice_pol <- polarity(bos_reviews$comments[1:5])

# Review the object
practice_pol$all

In [ ]:
tidy_reviews <- bos_reviews %>% unnest_tokens(word, comments)
tidy_reviews

In [26]:

tidy_reviews <- tidy_reviews %>% group_by(id) %>% mutate(original_word_order = seq_along(word))  
head(tidy_reviews)

  id word     original_word_order
1 1  my       1
2 1  daughter 2
3 1  and      3
4 1  i        4
5 1  had      5
6 1  a        6

In [22]:
data("stop_words")

In [24]:
tidy_reviews_without_stopwords <- tidy_reviews %>% anti_join(stop_words)

Joining, by = "word"

In [25]:
head(tidy_reviews_without_stopwords)

  id word      original_word_order
1 1  daughter   2
2 1  wonderful  7
3 1  stay       8
4 1  maura     10
5 1  close     14
6 1  touch     15

In [27]:
bing <- get_sentiments(lexicon = "bing")

In [28]:
pos_neg <- tidy_reviews_without_stopwords %>% inner_join(bing) %>% count(sentiment) %>% spread(sentiment, n, fill = 0) %>% mutate(polarity = positive - negative)

Joining, by = "word"

In [32]:
head(tidy_reviews_without_stopwords %>% inner_join(bing))

Joining, by = "word"

  id word      original_word_order sentiment
1 1  wonderful  7                  positive
2 1  charming  33                  positive
3 1  warm      40                  positive
4 1  nice      56                  positive
5 2  lovely    21                  positive
6 2  nice      47                  positive

In [33]:
head(tidy_reviews_without_stopwords %>% inner_join(bing) %>% count(sentiment))

Joining, by = "word"

  id sentiment n
1 1  positive  4
2 2  positive  3
3 3  positive  3
4 4  positive  6
5 5  positive  2
6 6  positive  3

In [34]:
head(tidy_reviews_without_stopwords %>% inner_join(bing) %>% count(sentiment) %>% spread(sentiment, n, fill = 0))

Joining, by = "word"

  id negative positive
1 1  0        4
2 2  0        3
3 3  0        3
4 4  0        6
5 5  0        2
6 6  0        3

In [35]:
head(tidy_reviews_without_stopwords %>% inner_join(bing) %>% count(sentiment) %>% spread(sentiment, n, fill = 0) %>% mutate(polarity = positive - negative))

Joining, by = "word"

  id negative positive polarity
1 1  0        4        4
2 2  0        3        3
3 3  0        3        3
4 4  0        6        6
5 5  0        2        2
6 6  0        3        3